.navigation {
	background: #8A0C0C;
	background: linear-gradient(to bottom,  #A60000,  #DBDBDB);
	color: #FFF;
    height: 5vh;
    width: 100vw;
}

.Link {
    color: black;
    
  }
 

.navigation ul{
    display: flex;
    list-style: none;
    height: 100%;
    color: black;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
}